*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f6f1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.title img {
    width: 60px;
    height: 60px;
}

.title h1 {
    font-size: 32px;
    color: #2c3e50;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.search-container input {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #2c3e50;
    cursor: pointer;

}

.search-container input:hover {
    border: 2px solid #a0826d;
    box-shadow: 0 5px 10px 0 rgba(160, 130, 109, 0.5);
}

.search-container input:focus {
    outline: none;
    border: 2px solid #a0826d;
    box-shadow: 0 5px 10px 0 rgba(160, 130, 109, 0.5);
}

.search-container #search-button {
    background-color: #e8b86d;
    border: 2px solid #2c3e50;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;

}

.search-container #search-button:hover {
    background-color: #d99c4e;
    box-shadow: 0 5px 10px 0 rgba(217, 156, 78, 0.5);
}

.loading-books p {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #2c3e50;
    margin-top: 20px;
}

.book-card {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid #2c3e50;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 20%;
    background-color: #ffffff;
}

.book-card h3 {
    color: #2c3e50;
}

.book-card button {
    background-color: #e8b86d;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    
}

.book-card button:hover {
    background-color: #d99c4e;
    box-shadow: 0 5px 10px 0 rgba(217, 156, 78, 0.5);
}